html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

/* Forms */
form div {
    margin: 10px;
}

/* Inputs design */
select, input[type="text"], input[type="date"], input[type="email"], input[type="number"], input[type="submit"], input[type="password"], textarea, label {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select, input[type="text"], input[type="date"], input[type="email"], input[type="number"], input[type="submit"], input[type="password"], textarea {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
        border-radius: 4px;
}

select, input[type="text"], input[type="date"], input[type="email"], input[type="number"], input[type="password"], textarea {
	width: 200px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #aaa;
    padding: 4px 6px;
    margin-bottom: 10px;
    line-height: 20px;
    color: #555555;
    margin: 0;
    vertical-align: middle;
}

input[type="submit"] {
    width: 100px;
    height: 30px;
    border: 1px solid #aaa;
}

input[type="submit"]:hover {
    background-color: #999999;
}

input[type="submit"]:active {
    background-color: #555555;
    color: #ffffff;
}

input.tel {
    width: 50px;
    height: 25px;
    display: inline;
}

textarea {
	width: 230px;
	height: 100px;
	resize: none;
}

select:focus, input:focus, textarea:focus {
    background: #ffe;
    border: 1px solid #000000; 
}

/* Outputs design */
label {
    width: 150px;
    padding-top: 6px;
    vertical-align: middle;
}

label.error {
    display: inline;
    color: #FF0000;
    margin-left: 10px;
}

fieldset {
    padding: 10px;
}

/* Login */
.login-wrapper, .login {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 50%;
    height: 70%;
    overflow: visible;
}

.login-wrapper {
    border: solid 1px rgba(0,0,0,0.1); 
    background-color: #99CCFF;
    text-decoration: none;
    border-radius: 10px;
    color: #FFFFFF;
}

.login h1 {
    height: 10%;
    text-align: center;
}

#loginField, #passwordField, #login-button {
    width: 100%;
    height: 10%;
}

#login-button {
    height: 20%;
}

#loginError {
    color: #FF0000;
    text-align: center;
}

/* Header and userinfo */
.header {
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-indent: 10px;
    margin: 20px 20px 0px 20px;
    padding: 10px; 
    border: solid 1px rgba(0,0,0,0.1); 
    background-color: #99CCFF;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    
    cursor: pointer;
}

.header div {
    display: inline-block;
}

.header img {
    margin-right: 5px;    
}

.user {
    display: block;
    margin-right: 20px;
    padding: 5px;
    float: right;
    background-color: #eeeeee;
    border-radius: 0 0 5px 5px;
    -mox-box-shadow: inset 0px 0px 0px 1px #cccccc;
    -webkit-box-shadow: inset 0px 0px 0px 1px #cccccc;
    box-shadow: inset 0px 0px 0px 1px #cccccc;
}

/* Settings and Calendar design */
#settings, #calendar {
    display: block;
    margin-right: 20px;
    float: right;
    background-color: #eeeeee;
    border-radius: 0 0 5px 5px;
    -mox-box-shadow: inset 0px 0px 0px 1px #cccccc;
    -webkit-box-shadow: inset 0px 0px 0px 1px #cccccc;
    box-shadow: inset 0px 0px 0px 1px #cccccc;
}

#settings ul, #calendar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#settings ul li, #calendar ul li {
    margin: 0;
    padding: 0;
    border-bottom:1px solid rgba(0,0,0,0.1);
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    display: block;
    cursor: pointer;
}

/* Content */
.content-wrapper {
    margin-top: 100px;
    display: block;
    background-color: #eeeeee;
    margin: 40px 20px 0px 300px;
    -mox-box-shadow: inset 0px 0px 0px 1px #cccccc;
    -webkit-box-shadow: inset 0px 0px 0px 1px #cccccc;
    box-shadow: inset 0px 0px 0px 1px #cccccc;
    border-radius:5px 5px 0 0;
}

.content {
    background-color: #99CCFF;
    height: 40px;
    border-radius: 5px 5px 0 0;
    border: solid 1px rgba(0,0,0,0.1);
}

.content-head {
    height: 20px;
    float: left;
    width: 200px;
    margin: 12px 0 10px 10px;
    text-indent: 7px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

.workspace {
    padding: 0;
    border-top:1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px #fff;
    -moz-box-shadow:    inset 0 1px 1px #fff;
    -webkit-box-shadow: inset 0 1px 1px #fff;
    font-size: 16px;
    color: #666666;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-indent: 8px;
}

/* Navigation bar */
.nav-wrapper {
    display: block;
    width: 250px;
    background-color: #eeeeee;
    margin: 40px 20px 0px 20px;
    -mox-box-shadow: inset 0px 0px 0px 1px #cccccc;
    -webkit-box-shadow: inset 0px 0px 0px 1px #cccccc;
    box-shadow: inset 0px 0px 0px 1px #cccccc;
    border-radius:5px 5px 0 0;
    float: left;
}

.nav {
    background-color: #99CCFF;
    height: 40px;
    border-radius: 5px 5px 0 0;
    border: solid 1px rgba(0,0,0,0.1);
}

.nav-head {
    height: 20px;
    float: left;
    width: 20px;
    margin: 12px 0 10px 10px;
    text-indent: 7px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0;
    padding: 0;
    border-top:1px solid rgba(0,0,0,0.1);
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-indent: 8px;
    cursor: pointer;
}

.addSubSection, .editSubSection, .reportSubSection {
    text-indent: 10px;
    background-color: rgba(127, 140, 141,1.0);
    color: rgba(236, 240, 241,1.0);
}

.menu .section {
    margin: 0;
    padding: 0;
    border-top:1px solid rgba(0,0,0,0.1);
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-indent: 8px;
    cursor: pointer;
}

.menu .subSection {
    text-indent: 10px;
    background-color: rgba(127, 140, 141,1.0);
    color: rgba(236, 240, 241,1.0);
}

/* Footer */
.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    float: left;
    margin: 0;
    padding: 3px;
    font-size: 9pt;
    background-color: #6699CC;
    border-radius: 0;
}

.footer a:link {
	color: #FFFFFF;
	text-decoration: none;
}

.footer a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

/* Table design */
.tasksTable {
	margin:0px;
    padding:0px;
	width:100%;
    
	/*border:1px solid #000000;*/
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
    
}.tasksTable table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
	margin:0px;
    padding:0px;  
}

.tasksTable tr:nth-child(odd){ background-color:#aad4ff; }
.tasksTable tr:nth-child(even)    { background-color:#ffffff; }
.tasksTable td, th{
	vertical-align: middle;
	border: 1px solid #FFFFF0;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	padding: 12px;
	font-size: 14px;
	font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000000;
}

.tasksTable th {
    background:-o-linear-gradient(bottom, #005fbf 5%, #005fbf 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#005fbf");	background: -o-linear-gradient(top,#005fbf,005fbf);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
    cursor: pointer;
}

.pagination li {
    display:inline-block;
    text-align:left;
	margin:0px;
    padding:5px;
    font-size: 14px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#005fbf;
    color:#ffffff;
}

;